<nav class="main-nav">
<!--
    <a href="{{ "/" | relative_url  }}">Home</a>
    <a href="{{ "/" | relative_url  }}projects">Projects</a>
    <a href="{{ "/" | relative_url  }}portfolio">Portfolio</a>
    <a href="{{ "/" | relative_url  }}contact">Contact</a>
-->
    
<!--
    <a href="{{ "/" | relative_url  }}">
        {% if page.url != "/" %}
            Home
        {% else %}
            currHome
        {% endif %}
    </a>
    
    <a href="{{ "/" | relative_url  }}projects">
        {% if page.url != "/projects/" %}
            Projects
        {% else %}
            currProjects
        {% endif %}
    </a>
    
    <a href="{{ "/" | relative_url  }}portfolio">
        {% if page.url != "/portfolio/" %}
            Portfolio
        {% else %}
            currPortfolio
        {% endif %}
    </a>
    
    <a href="{{ "/" | relative_url  }}contact">
        {% if page.url != "/contact/" %}
            Contact
        {% else %}
            currContact
        {% endif %}
    </a>
-->
    
    {% if page.url != "/" %}
        <a href="{{ "/" | relative_url  }}"> <span class="arrow">←</span> Home</a>
    {% endif %}
    
    {% if page.url != "/projects/" %}
        <a href="{{ "/" | relative_url  }}projects">Projects</a>
    {% endif %}
    
    {% if page.url != "/portfolio/" %}
        <a href="{{ "/" | relative_url  }}portfolio">Portfolio</a>
    {% endif %}
    
    {% if page.url != "/contact/" %}
        <a href="{{ "/" | relative_url  }}contact">Contact</a>
    {% endif %}
    
    
<!--    <a class="cta" href="{{ "/" | relative_url  }}feed.xml">Subscribe</a>-->
</nav>